.Sidebar {
  background-color: #f8f9fa;
  padding: 1rem;
  min-width: 200px;
  min-height: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
}

.Sidebar h3 {
  margin-bottom: 1rem;
  color: #333;
  font-weight: bold;
}

.Sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.Sidebar li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}

.Sidebar li:hover {
  background-color: #e9ecef;
}